<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
        </Console>
        <Routing name="Routing">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <RollingFile name="File-${ctx:threadName}"
                                 filename="logs\${ctx:threadName}_testing.log"
                                 filePattern="logs\${ctx:threadName}_testing.%i.log" >
                        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
                        <Policies>
                            <OnStartupTriggeringPolicy minSize="0"/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
        <Async name="async" bufferSize="1000" includeLocation="true">
            <AppenderRef ref="Routing" />
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="async" />
        </Root>
    </Loggers>
</Configuration>